<div class="projects">
  {% include proeject.html
    name='Stadtradeln Vis'
    description="Heatmap visualization of
      <a href=\"https://www.mcloud.de/web/guest/suche/-/results/detail/3096DB7A-9EE4-4C14-B2AA-79E33A7FFF01\" target=\"_blank\" rel=\"noopener\">bicycle traffic data</a>
      in Münster. Included spatial extraction of the Münster area and
      conversion between csv and Mapbox vector tiles."
    link="https://github.com/codeformuenster/stadtradeln-vis"
    technologies="Node.js, Mapbox GL JS"
  %}
  {% include project.html
    name='Verkehrsunfälle'
    description="Import and cleanup of
      <a href=\"https://github.com/codeformuenster/verkehrsunfaelle/tree/master/data\" target=\"_blank\" rel=\"noopener\">traffic accident data</a>
      consisting of multiple excel sheets. Uses
      <a href=\"https://github.com/Kinto/kinto\" target=\"_blank\" rel=\"noopener\">Kinto</a>
      as datastore and for validation.<br />Automated geocoding of ~112000
      accident locations.<br />Deployment on Kubernetes"
    link="https://github.com/codeformuenster/verkehrsunfaelle"
    technologies="Python, Kinto, JSON Schema, Docker, Nominatim, Overpass"
  %}
  {% include project.html
    name="Verkehrsunfälle Editor"
    description="React app for human aided correction and validation of <a href=\"https://github.com/codeformuenster/verkehrsunfaelle\" target=\"_blank\" rel=\"noopener\">traffic accident</a>
      locations. Uses <a href=\"https://material-ui.com\" target=\"_blank\" rel=\"noopener\">Material UI</a>
      as frontend framework. <a href=\"https://github.com/Kinto/kinto\" target=\"_blank\" rel=\"noopener\">Kinto</a>
      as datastore and for user accounts.<br />Deployment on Netlify"
    link="https://github.com/codeformuenster/verkehrsunfaelle-editor"
    technologies="React, Material UI, Kinto"
  %}
  {% include project.html
    name="Mosmix Processor"
    description="Import <a href=\"https://www.dwd.de/EN/ourservices/met_application_mosmix/met_application_mosmix.html\" target=\"_blank\" rel=\"noopener\">open data weather forecasts of the DWD</a>
    into a PostGIS database utilizing PostgreSQL functions and partitions.<br />To be used in conjunction with
    <a href=\"https://github.com/codeformuenster/mosmix-api\" target=\"_blank\" rel=\"noopener\">Mosmix-API</a>"
    link="https://github.com/codeformuenster/mosmix-processor"
    technologies="Go, PostgreSQL, PostGIS"
  %}
  {% include project.html
    name="Mosmix API"
    description="API service to query Mosmix data provided by <a href=\"https://github.com/codeformuenster/mosmix-processor\" target=\"_blank\" rel=\"noopener\">Mosmix Processor</a>.
    Implemented as
    <a href=\"https://github.com/mholt/caddy\" target=\"_blank\" rel=\"noopener\">Caddy</a> plugin
    utilizing <a href=\"https://postgres.rest\" target=\"_blank\" rel=\"noopener\">pREST</a> as
    CRM layer. Also exposes OpenAPI definition."
    link="https://github.com/codeformuenster/weihnachtsmarkt"
    technologies="Go, PostgreSQL, OpenAPI"
  %}
  {% include project.html
    name="Weihnachtsmarkt"
    description="An interactive christmas market app for
    Münster. Hackathon project. Based on React and Mapbox GL JS for map display."
    link="https://github.com/codeformuenster/weihnachtsmarkt"
    technologies="React, Gatsby, Mapbox GL JS"
  %}
  {% include project.html
    name="Assets Server"
    description="Utility container image for static web asset serving with gzip
    and brotli compression in a single binary inside a FROM scratch container."
    link="https://github.com/ubergesundheit/assets-server"
    technologies="Go, Docker"
  %}
</div>
