<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="The personal web page of Gerald Pape.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content='51.96,7.62' name='ICBM'>
  <meta content='51.96;7.62' name='geo.position'>
  <title>Gerald Pape - Personal Site</title>
  <link rel="stylesheet" href="{{ site.url }}/css/geraldpapeio.css">
  <link rel="icon" href="{{ site.url }}/favicon.png" type="image/png">
</head>
<body>
  <div class="container content">
    {{ content }}
  </div>
  <script src="{{ site.url }}/js/geraldpapeio.js" type="text/javascript" defer></script>
  <script>
  (function(f, a, t, h, o, m){
    a[h]=a[h]||function(){
      (a[h].q=a[h].q||[]).push(arguments)
    };
    o=f.createElement('script'),
    m=f.getElementsByTagName('script')[0];
    o.async=1; o.src=t; o.id='fathom-script';
    m.parentNode.insertBefore(o,m)
  })(document, window, 'https://t.pape.dev/tracker.js', 'fathom');
  fathom('set', 'siteId', 'PKESA');
  fathom('trackPageview');
  </script>
</body>
</html>
